<html>
<head>
<title>Handlebars examples with Express 4</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
<div class="container">

{{{body}}}

</div>
</body>
</html>