<html>
<head>
<title>Revive</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<style type="text/css">
	h3 {
	    color: #E81F00;
	}
</style>
</head>
<body>
<div class="container">

{{{body}}}

</div>
</body>
</html>