// Index
// _index.scss

// Styles for the index

@import "../utils/config";
@import "../utils/functions";
@import "../utils/media-queries";
@import "../utils/mixins";
@import "../components/shadows";
@import "../layout/grid";

$sidebar-medium-width: 50vw;
$sidebar-large-width: 25vw;
$transition-time: 0.5s;

@include exports("index") {

  #index {

    #main {
      height: 100%;
      transition: transform #{$transition-time} ease, margin #{$transition-time} ease;
    }
  }

  aside {
    @include card(1);
    background-color: $white;
    position: fixed;
    left: -100%;
    z-index: 9000;
    height: 100%;
    width: 100%;
    transition: left #{$transition-time} ease, width #{$transition-time} ease;

    @media #{$medium-up} {
      width: $sidebar-medium-width;

      &.open + #main {
        transform: translate($sidebar-medium-width, 0);
        margin-right: $sidebar-medium-width;
      }
    }

    @media #{$large-up} {
      width: $sidebar-large-width;

      &.open + #main {
        transform: translate($sidebar-large-width, 0);
        margin-right: $sidebar-large-width;
      }
    }

    &.open {
      left: 0;
    }
  }
}
