// Header
// _header.scss

// Global styles for the header

@import "../utils/config";
@import "../utils/functions";
@import "../utils/media-queries";
@import "../utils/mixins";
@import "grid";
@import "../components/shadows";

$header-height: rem-calc(56);

@include exports("header") {
  header.global {
    @include card(1);
    background-color: $white;
    padding: 0 rem-calc(10);
    position: fixed;
    height: $header-height;
    width: 100%;
    z-index: 10000;

    > div {
      @include grid-column(12);

      @media #{$medium-up} {
        &:first-of-type {
          @include grid-column(2);
        }

        &:nth-of-type(2) {
          @include grid-column(8);
        }

        &:last-of-type {
          @include grid-column(2)
        }
      }
    }
  }
}